@page
@model DoAn_LTHDT.Pages.Exports.EditExportsModel
@{
}
<p>Export Information Edit</p>
<form method="Post">
	<label>Export ID Edit</label><br />
	<input type="number" name="IdExportEdit" value="@Model.ExportModel.GETEXPORTID()" readonly /><br />

	<label>Enter ID Product Edit</label><br />
	<input type="number" name="IDProductEdit" value="@Model.ExportModel.GETPRODUCTID()" required /><br />

	<label>Enter Quantities of Export Edit</label><br />
	<input type="number" name="quantitesEdit" value="@Model.ExportModel.GETQUANTITIES()" required /><br />

	<label>Enter Price of Export Edit</label><br />
	<input type="number" name="priceEdit" value="@Model.ExportModel.GETPRICE()" required /><br />

	<label>Enter Date Check of Export Edit</label><br />
	<label>Enter format YYYY/MM/DD</label><br />
	<input type="datetime" name="dateExpiredEdit" value="@Model.ExportModel.GETEXPORTDATE()" required /><br />


	<label>Enter Total of Export Edit</label><br />
	<input type="number" name="totalEdit" value="@Model.ExportModel.GETTOTAL()" required /><br />

	<input type="submit" value="Edit" /><br />
</form>
<p>@Model.result</p>