@page
@model DoAn_LTHDT.Pages.Exports.ExportsPageModel
@{
}
<h1>Exports List</h1>
<style>
    table, td, th {
        border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th>Exports ID</th>
        <th>Product ID</th>
        <th>Quantities</th>
        <th>Price</th>
        <th>Date</th>
        <th>Total</th>
    </tr>
    @for (int i = 0; i < Model.ExportList.Count; i++)
    {
        <tr>
            <td>@Model.ExportList[i].GETEXPORTID()</td>
            <td>@Model.ExportList[i].GETPRODUCTID()</td>
            <td>@Model.ExportList[i].GETQUANTITIES()</td>
            <td>@Model.ExportList[i].GETPRICE()</td>
            <td>@Model.ExportList[i].GETEXPORTDATE().ToShortDateString()</td>
            <td>@Model.ExportList[i].GETTOTAL()</td>
        </tr>
    }
</table>
